@page
@model Web.Pages.Admin.Manage.Employees.DetailsModel
@{
    int i = 1;
}

<script src="https://code.jquery.com/jquery-3.7.1.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/employeeDetailsPageScript.js"></script>

<h2>Employee Details</h2>
<p>Name: @Model.ViewModel.Employee.FirstName @Model.ViewModel.Employee.LastName</p>
<p>Email address: @Model.ViewModel.Employee.EmailAddress</p>
<p>Driver License: @Model.ViewModel.Employee.DriverLicense</p>
<p>Phone number: @Model.ViewModel.Employee.PhoneNumber</p>


        <h2>
            <a data-bs-toggle="collapse" data-bs-target="#collapseContracts" style="cursor : pointer; color : black; text-decoration : none">Contracts</a>
        </h2>
@if (Model.ViewModel.Contracts.Count > 0)
{
    <div class="collapse out" id="collapseContracts">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var contract in Model.ViewModel.Contracts)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <partial name="_contract" for="@contract" />
                        @if (!contract.IsActive)
                        {
                            if (contract.StartDate < DateTime.Now)
                            {
                                <td>
                                    <button type="button" class="btn btn-success renew-contract-btn" id="" data-bs-toggle="modal" data-bs-target="#renewContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId">
                                        Renew Contract
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button type="button" class="btn btn-success activate-contract-btn" id="" data-bs-toggle="modal" data-bs-target="#activateContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId">
                                        Activate Contract
                                    </button>
                                </td>
                            }
                            <td>
                                <button type="button" class="btn btn-info edit-contract-btn" data-bs-toggle="modal" data-bs-target="#editContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId"
                                        data-bs-startDate="@contract.StartDate" data-bs-endDate="@contract.EndDate" data-bs-salary="@contract.Salary">
                                    Edit Contract
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger delete-contract-btn" data-bs-toggle="modal" data-bs-target="#deleteContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId">
                                    Delete Contract
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btn btn-warning terminate-contract-btn" data-bs-toggle="modal" data-bs-target="#terminateContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId">
                                    Terminate Contract
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info edit-contract-btn" data-bs-toggle="modal" data-bs-target="#editContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId"
                                        data-bs-startDate="@contract.StartDate" data-bs-endDate="@contract.EndDate" data-bs-salary="@contract.Salary">
                                    Edit Contract
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger delete-contract-btn" data-bs-toggle="modal" data-bs-target="#deleteContractBackdrop" data-bs-id="@contract.Id" data-bs-employeeId="@contract.EmployeeId">
                                    Delete Contract
                                </button>
                            </td>
                        }
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <button class="btn btn-success text-center add-contract-btn" data-bs-toggle="modal" data-bs-target="#addContractBackdrop" data-bs-employeeId="@Model.ViewModel.Employee.Id">Add contract</button>
        <p></p>
    </div>
}
else
{
    <div class="collapse out" id="collapseContracts">
    <p>No contracts available</p>
        <button class="btn btn-success text-center add-contract-btn" data-bs-toggle="modal" data-bs-target="#addContractBackdrop" data-bs-employeeId="@Model.ViewModel.Employee.Id">Add contract</button>
    </div>
}

    <h2>
        <a data-bs-toggle="collapse" data-bs-target="#collapseActivities" style="cursor : pointer; color : black; text-decoration : none">Activities</a>
    </h2>

@if (Model.ViewModel.Activities.Count > 0)
{
    <div class="collapse out" id="collapseActivities">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Order</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.ViewModel.Activities)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <partial name="_activity" for="@activity" />
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="collapse out" id="collapseActivities">
        <p>No activities available</p>
    </div>
}


<!-- Renew Modal -->
<form method="post" id="renewForm"  action="">
<div class="modal fade" id="renewContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelRenew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelRenew">Renew Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to renew the Contract?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-success renew-submit-btn">Yes</button>
            </div>
        </div>
    </div>
</div>
</form>


<!-- Delete Modal -->
<form method="post" id="deleteForm"  action="">
<div class="modal fade" id="deleteContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelDelete">Delete Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Contract?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-success">Yes</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Terminate Modal -->
<form method="post" id="terminateForm"  action="">
<div class="modal fade" id="terminateContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelTerminate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelTerminate">Terminate Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to terminate the Contract?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-success">Yes</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Edit Modal -->
<form method="post" id="editForm" action="" onsubmit="return validateEditContractForm()">
    <div class="modal fade" id="editContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelEdit">Edit Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="startDateInputEdit" type="date" value="" aria-required="true" placeholder="model" />
                        <label>Start Date</label>
                        <span class="text-danger" id="startDateInputError" ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="endDateInputEdit" type="date" value="" aria-required="true" placeholder="model" />
                        <label>End date</label>
                        <span class="text-danger" id="error-end-date"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="salaryInputEdit" type="number" value="" min="0" aria-required="true" placeholder="model" />
                        <label>Salary (per 1h)</label>
                        <span class="text-danger" id="error-salary"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Dismiss changes</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add Modal -->
<form method="post" id="addForm" action="" onsubmit="return validateAddContractForm()">
    <div class="modal fade" id="addContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelAdd" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelAdd">Add Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="startDateInputAdd" type="date" aria-required="true" placeholder="model" />
                        <label>Start date</label>
                        <span class="text-danger" id="error-start-date"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="endDateInputAdd" type="date" aria-required="true" placeholder="model" />
                        <label>End date</label>
                        <span class="text-danger" id="error-end-date"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="salaryInputAdd" type="number" min="0" aria-required="true" placeholder="model" />
                        <label>Salary (per 1h)</label>
                        <span class="text-danger" id="error-salary"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success add-contract-submit-btn" data-bs-employeeId="@Model.ViewModel.Employee.Id">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Activate Modal -->
<form method="post" id="activateForm" action="">
    <div class="modal fade" id="activateContractBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelActivate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelActivate">Activate Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to activate the Contract?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>






