@using Web.ViewModels
@model FleetItemViewModel

<!--<form>
    <div class="esh catalog-name">
        <span>@Model.Brand @Model.Model, @Model.ProductionYear</span>
    </div>
</form>
-->

    <td>@Model.Brand</td>
    <td>@Model.Model</td>
    <td>@Model.ProductionYear</td>
    <td>@Model.VehicleType.Type</td>
    <td>@Model.Capacity kgs</td>
