@using Web.ViewModels.User
@model FleetItemViewModel

    <td>@Model.Brand</td>
    <td>@Model.Model</td>
    <td>@Model.ProductionYear</td>
    <td>@Model.VehicleType.Type</td>
    <td>@Model.Capacity kgs</td>
