@using Web.ViewModels.Admin.Manage.Fleet
@model DetailedItemViewModel
<td></td>
<td style="white-space : pre-line">Vehicle:  
        Year of production: 
        Registration number: 
        Type: 
        Capacity: 
</td>
<td style="white-space : pre-line">@Model.Brand @Model.Model
    @Model.ProductionYear
    @Model.RegistrationNumber
    @Model.VehicleType.Type
    @Model.Capacity kgs
</td>

