@page

@{
    ViewData["Title"] = "Manage Fleet";
    @model IndexModel
    int i = 1;
}

<div class="text-center">
    <h1 class="display-5">Manage your Fleet</h1>
</div>

<div class="container">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year of production</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.FleetModel.Vehicles)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <partial name="_vehicle" for="@vehicle" />
                    <td>
                        <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#collapseDetails_@i">Details</button>
                    </td>
                        <td>
                            <form method="post" asp-page-handler="Update" asp-route-id="@vehicle.Id">
                                <button class="btn btn-warning">Edit</button>
                            </form>
                        </td>

                        <td>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@vehicle.Id">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>

                </tr>
                var details = new ViewModels.Admin.Manage.Fleet.DetailedItemViewModel();
                foreach (var detailedVehicle in Model.FleetModel.DetailedVehicles)
                {
                    if (vehicle.Id == detailedVehicle.Id){
                        details = detailedVehicle;
                        break;
                    }
                }
                <tr class="collapse out" id="collapseDetails_@i">
                    <partial name="_vehicleDetails" for="@details">
                </tr>

                
                i++;
            }
            </tbody>
        </table>
        <div>
        <form class="flex-center" method="post" asp-page-handler="Add">
                <button class="btn btn-success text-center">Add</button>
            </form>
        </div>              
</div>
    
